services:
  flutter-dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flutter_dev_container_hipaw
    volumes:
      - /var/www/HiPaw:/app
      - /dev/bus/usb:/dev/bus/usb
      - ~/.gradle:/root/.gradle
    stdin_open: true
    tty: true
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - ANDROID_SDK_ROOT=/usr/lib/android-sdk
    network_mode: "host"
    devices:
      - "/dev/kvm:/dev/kvm"
    privileged: true
    command: bash
